<div class="pure-g question">

	<div class="pure-u-1 pure-u-md-1-4"></div>

	<div class="pure-u-1 pure-u-md-1-2">

		<div class="question_header">
			<h1><%= current_screen.first_question.title %></h1>
      <h2><%= current_screen.first_question.introduction %></h2>
		</div>

		<%= render partial: 'screens/single_choice_question', locals: {question: current_screen.first_question} %>

	</div>

	<div class="pure-u-1 pure-u-md-1-4"></div>

</div>
