<% text ||= "How much do you know about Africa and the offshore industry? Play ContinentofSecrets to find out:" %>
<div class="social_links_container" data-share>
  <a href="#" class="twitter" data-share-network="twitter" data-track-event="Social Share|Click Twitter|From Node"><i class="fa fa-twitter" data-share-text="<%= text %>"></i></a>
  <a href="#" class="facebook" data-share-network="facebook" data-track-event="Social Share|Click Facebook|From Node"><i class="fa fa-facebook" data-share-text="<%= text %>"></i></a>
</div>
